<form method="POST" action="/recipes">
  <p>Name: <input type="text" name="name"></p>
  <p>Ingredients: <input type="text" name="ingredients"></p>
  <p>Cook Time: <input type="text" name="cook time"></p>
  <input type="submit">
</form>